.load-wrapper{
    display: grid;
    place-items: center;
    position: fixed;
    background-color: #854fee;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    transition: opacity .3s ease-in-out, visibility .3s step-end;
}
.load-wrapper.hide{
    opacity: 0;
    visibility: hidden;
}

.loader{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: rgba(255,255,255,.2);
    border-width: 30px;
    border-style: double;
    border-color: transparent #fff;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}